#contacts {
  background: url("../assets/Background_Intro.png") no-repeat center/cover;

  display: flex;
  padding: 128px 120px 200px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h5 {
    color: var(--purple);
  }

  h4 {
    margin: 8px 0;
  }

  .contacts-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 48px;

    .contacts-item {
      display: flex;
      width: 400px;
      padding: 20px;
      align-items: center;
      justify-content: space-between;
      gap: 12px;

      border-radius: 8px;
      background: var(--gray-300);
      transition: outline 0.5s ease, transform 0.5s ease; /* Add transition for smooth animation */

      .contact-icon {
        display: flex;
        align-items: center;
        gap: 12px;

        img {
          width: 28px;
          height: 28px;
        }

        h2 {
          font-weight: 500;
        }
      }

      .ArrowUpRight {
        background: url("../assets/icons/ArrowUpRight.svg") no-repeat
          center/cover;
        width: 20px;
        height: 20px;
        transition: background 0.5s ease; /* Add transition for smooth background change */
      }
    }

    .contacts-item:hover {
      outline: 1.5px solid var(--blue);
    }

    .contacts-item:hover .ArrowUpRight {
      background: url("../assets/icons/ArrowUpRightHover.svg") no-repeat
        center/cover;
    }
  }
}
