#contacts {
  background: url("../assets/Background_Intro.png") no-repeat center/cover;

  display: flex;
  padding: 8rem 7.5rem 12.5rem 7.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h5 {
    color: var(--purple);
  }

  h4 {
    margin: 0.5rem 0;
  }

  .contacts-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;

    .contacts-item {
      display: flex;
      min-width: 25rem;
      padding: 1.25rem;
      align-items: center;
      justify-content: space-between;
      gap: 0.75rem;

      border-radius: 0.5rem;
      background: var(--gray-300);
      transition: outline 0.5s ease, transform 0.5s ease; /* Add transition for smooth animation */

      .contact-icon {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        img {
          width: 1.75rem;
          height: 1.75rem;
        }

        h2 {
          font-weight: 500;
        }
      }

      .ArrowUpRight {
        background: url("../assets/icons/ArrowUpRight.svg") no-repeat
          center/cover;
        width: 1.25rem;
        height: 1.25rem;
        transition: background 0.5s ease; /* Add transition for smooth background change */
      }
    }

    .contacts-item:hover {
      outline: 1.5px solid var(--blue);
      & svg path {
        fill: var(--blue);
      }
    }

    .contacts-item:hover .ArrowUpRight {
      background: url("../assets/icons/ArrowUpRightHover.svg") no-repeat
        center/cover;
    }
  }
}

@media (width <=80em) {
  #contacts {
    padding: 3rem 1rem 3rem 1rem;
    .contacts-container {
      .contacts-item {
        min-width: 17.5rem;
      }
    }
  }
}
