* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;
  --gray-100: #0d0e11;
  --gray-200: #16181d;
  --gray-300: #292c34;
  --gray-400: #878ea1;
  --gray-500: #c0c4ce;
  --gray-600: #e0e4e9;

  --font-family-asap: "Asap", serif;
  --font-family-inconsolata: "Inconsolata", serif;
  --font-family-maven-pro: "Maven Pro", serif;

  --title-lg: 700 56px/120% var(--font-family-asap);
  --title-md: 700 24px/120% var(--font-family-asap);
  --title-sm: 700 16px/120% var(--font-family-asap);

  --subtitle: 400 20px/120% var(--font-family-inconsolata);

  --text-md: 400 16px/140% var(--font-family-maven-pro);
  --text-sm: 400 14px/140% var(--font-family-maven-pro);
}

h1 {
  font: var(--title-lg);
  color: var(--gray-600);
}

h3 {
  font: var(--title-sm);
  color: var(--gray-600);
}

h4 {
  font: var(--title-md);
  color: var(--gray-600);
}

h5 {
  font: var(--subtitle);
  color: var(--red);
}

h6 {
  font: var(--subtitle);
  color: var(--gray-400);
}

p {
  font: var(--text-sm);
  color: var(--gray-400);
}

.accent {
  color: var(--red);
}
