#hero {
  background: url("../assets/Background_Intro.png") no-repeat center/cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5rem 10.187rem 3.56rem 10.187rem;

  #info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 42.5rem;
    margin-bottom: 5rem;

    #avatar-container {
      position: relative;
    }

    #avatar {
      width: 6rem; /* 96px */
      height: 6rem; /* 96px */
      border: 0.125rem solid var(--red); /* 2px */
      padding: 0.2725rem; /* 4.36px */
      border-radius: 50%;
      margin-top: 3.125rem; /* 50px */
      margin-bottom: 3.5rem; /* 56px */
    }

    #avatar-decoration {
      position: absolute;
      top: 7rem; /* 112px */
      left: 4.125rem; /* 66px */
      z-index: 1;
    }

    h1 {
      margin-top: 0.5rem; /* 8px */
      margin-bottom: 1.25rem; /* 20px */
    }

    p {
      align-self: stretch;
      text-align: center;
    }
  }

  #stacks {
    display: flex;
    gap: 1rem; /* 16px */
    margin-bottom: 5.875rem; /* 94px */

    img {
      width: 1.5rem; /* 24px */
      height: 1.5rem; /* 24px */
    }

    .tag {
      display: flex;
      padding: 0.5rem 1rem; /* 8px 16px */
      justify-content: center;
      align-items: center;
      gap: 0.5rem; /* 8px */
      background: var(--gray-300);
      border-radius: 999px;
    }
  }

  .tag-text {
    font: var(--text-sm);
    color: var(--gray-400);
    margin: 0 0.5rem; /* 0 8px */
  }
}

@media (width <= 60em) {
  #hero {
    padding: 3rem;
    #stacks {
      flex-direction: column;
    }
  }
}
